<div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <p-button
      icon="pi pi-bars"
      (onClick)="toggleCollapse()"
      class="logo-btn"
      severity="secondary"
      text
      rounded
    ></p-button>

    <ng-container *ngIf="!isLeftSidebarCollapsed">
      <div class="logo-text">Tenant</div>
    </ng-container>
  </div>

  <div class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let item of items; index as i">
      <a
        class="sidenav-nav-link"
        [routerLink]="!item.disabled ? item.routeLink : null"
        routerLinkActive="active"
        (click)="!item.disabled && item.command?.($event)"
        [routerLinkActiveOptions]="{ exact: true }"
        [class.disabled]="item.disabled"
        [attr.aria-disabled]="item.disabled"
        [attr.tabindex]="item.disabled ? -1 : 0"
      >
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        <span class="sidenav-link-text" *ngIf="!isLeftSidebarCollapsed">
          {{ item.label }}
        </span>
      </a>
    </li>
  </div>
</div>
<p-confirmpopup></p-confirmpopup>
